[Unit]
Description=CCS Callback daemon
Requires=network-online.target
After=network-online.target ccs-apid.service

[Service]
Restart=always
ExecStart=/srv/ccs-callbackd/ccs-callbackd
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
